@font-face {
  font-family: 'Zoinks';
  src: url('/fonts/CCZoinks.woff') format('truetype');
}

* {
  font-family: 'Zoinks';
  padding: 0;
  margin: 0;
}

body {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-container {
  outline: white 1px solid;
  height: 768px;
  width: 1024px;
}

.UI {
  /* border: white 1px solid; */
  height: 768px;
  width: 1024px;
  position: absolute;
  transform: translate(-1px, -773px);
}

.UI-Score {
  display: flex;
  justify-content: space-between;
}

.UI-WumpaFruit {
  font-size: 46px;
  text-shadow: black 3px 3px 0px;
  height: fit-content;
  width: fit-content;
  margin: 15px;
  gap: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.UI-WumpaFruit img {
  height: 65px;
  transform: translate(0px, -5px);
}

.UI-ExtraLife {
  font-size: 46px;
  text-shadow: black 3px 3px 0px;
  height: fit-content;
  width: fit-content;
  margin: 15px;
  gap: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.UI-ExtraLife img {
  height: 65px;
  transform: translate(0px, -5px);
}

/* .cutscene-container {
  width: 1024px;
  height: 768px;
  transform: translate(-1px, -773px);
  z-index: 999;
  position: absolute;
}

.cutscene {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.cutscene-container {
  background: black;
  width: 1024px;
  height: 768px;
  transform: translate(-0px, -775px);
  z-index: 999;
  position: fixed;
}

.cutscene {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bossSubtitle {
  font-size: 34px;
  text-shadow: #000000 3px 3px 3px;
  background: rgba(0, 0, 0, 0.33);
  border: rgb(240, 240, 240) 3px solid;
  border-radius: 10px;
  height: fit-content;
  width: 600px;
  padding: 20px;
  z-index: 100;
  position: absolute;
  transform: translate(180px, -750px);
}

.buttons {
  margin: 10px;
  gap: 10px;
  display: flex;
}

.button {
  width: 140px;
  padding: 10px;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.87);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s;

  &:hover {
    border: 1px solid #0ec3c9;
    color: #0ec3c9;
  }

  &:active {
    background-color: #0ec3c9;
  }

  /* Disabled styles */
  &:disabled {
    cursor: not-allowed;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
  }
}